body{ 
	background: 
	        linear-gradient(217deg, rgba(184,166,248,.8), rgba(102,237,252,0) 70.71%),
            linear-gradient(127deg, rgba(248,186,92,.8), rgba(255,185,201,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
	text-align: center;

}
img {
	width: 250px;
	height: 250px;
	text-align: right;
}
 h2{ 
 	color: #333333;
 	font-size: 21px;
 	font-family:Geometos;
 	font-weight: normal; 
 }

 #Card_white{
 	background: white;                         /* White background */
	padding: 20px;                             /* Internal space */
	border-radius: 20px;                        /* Small radius */
	box-shadow: 0 10px 30px rgba(0,0,0,.1);     /* Light shadow */
	margin: 15px 50px;
 }

p{ 
font-family: "Champagne & Limousines";
font-size: 18px;
 }

h1{
	font-family:Geometos;
	color: #9c99f7
}

.FormatImage:hover{
	transition-duration: 0.6s;
	transform: rotate(2000deg);
	transform: scale(1);
	border-radius: 50%;
	box-shadow: 5px 5px 7px black;
}

ul{ 
font-family: "Champagne & Limousines";

}

a{ 
color: #716afa; 
text-decoration: none;
transition: color 0.3s ease;
}

a:hover{
color:#f7b03d;
text-decoration: none;	
}

 .Container{ 
	width: 1200px; /* set the width of your container */
  	margin: 40px auto; /* set margins: top/bottom: 40px; left/right: automatic */
  } 

.list-inline {
  list-style: none; /* kill the bullet points */
  padding-left: 0px; /* kill remaining padding left */
}
.list-inline > li {
  display: inline; /* change list item behavior to inline */
  padding: 0px 20px; /* add som left/right padding between list items */
}

#Instagram{
background-color: #716afa;
color: white;
padding: 10px;
border-radius: 8px;
font-family: "Champagne & Limousines";
transition: color 0.3s ease;
}

#Instagram:hover{
background-color: #f6b03a;
text-decoration: none;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .Container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .Container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .Container {
    width: 300px;
  }
}